# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Project support folders not meant for GitHub
scripts/
postman/

# Build and coverage output
coverage/
dist/
dist-ssr/

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
